<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/263/263142.png" type="image/x-icon">
   
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    <div class="front">
     
    </div> 

    </header>
    <main></main>
    <footer></footer>
</body>
</html>